rect.bar {
    fill: rgb(183, 0, 255);
}

.axisGroup .tick line {
  stroke: gray;
  stroke-dasharray: 2,2;
}

.axisGroup .tick text {
  fill: blue;
  font-size: 15px;
  font-weight: bold;
}

.xAxisGroup .tick text {
  transform: rotate(-45deg);
  transform-origin: center end;
  text-anchor: end;
}

.axisGroup .domain {
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
}

.xAxisGroup .axis-label {
  fill: black;
  text-anchor: middle;
}

.yAxisGroup .axis-label {
  fill: black;
  text-anchor: middle;
  transform: rotate(-90deg);
}



