.barGroup-Gisele {
    fill: #ff0000; 
}

.barGroup-Bar {
    fill: #f700a4; 
}

.barGroup-Blake {
    fill: #ae00ff; 
}

.barGroup-Erin {
    fill: #1900ff; 
}

.barGroup-Toni {
    fill: #00a2ff;
}

.barGroup-Kelly {
    fill: #00ff88; 
}

.barGroup-Nina {
    fill: #b3ff00; 
}

.barGroup-Camila {
    fill: #ffc70d; 
}


